$site-author-image-border-radius  = 50%;

.sidebar-posts ul {
  list-style-type: circle;
  padding-left: 2em;
}

a.post-title-link {
  font-variant: small-caps;
  font-size: 1.35em;
  margin-top: -.2em;
}